<div class="row">
  <div class= "col-xs-3 panel panel-default">
    <div class="panel-body">
      <div class="row">
        <% if current_user.avatar.exists? %>
          <%=image_tag(current_user.avatar.url(:medium), class:"img-rounded img-responsive")%>
        <% else %>
          <%=image_tag("avatar_placeholder.jpg", class:"img-rounded img-responsive")%>
        <% end %>
        <div>
          <% if current_user != @user && !current_user.friends.include?(@user) %>
            <%= link_to "Follow #{@user.username}", relationships_path(friend_id: @user), method: :post, class:"btn follow", id: "follow_btn" %>
          <% elsif current_user != @user && current_user.friends.include?(@user) %>
            <%= link_to "Following", relationship_path(current_user.relationships.find_by_friend_id(@user)), method: :delete, class:"btn follow", id: "unfollow_btn" %>
          <% end %>
        </div>
        <h3><%= current_user.name %></h3>
        <h5><%= current_user.username %></h5>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <span class="small text">TWEETS</span><br />
          <span class = "counter-text"><%= current_user.tweets.count %></span>
        </div>
        <div class="col-xs-4">
          <span class="small text">FOLLOWING</span><br />
          <span class = "counter-text"><%= current_user.relationships.count %></span>
          </div>
        <div class="col-xs-4">
          <span class="small text">FOLLOWERS</span><br />
          <span class = "counter-text"><%= current_user.inverse_relationships.count %></span>
        </div>
      </div>
      <h5><p class= "bio-text"><%= current_user.bio %></p></h5>
      <h5><%= current_user.location %></h5>
      <h5>Joined in <%= current_user.created_at.strftime("%B %Y") %></h5>
    </div>
  </div>
  <div class= "col-xs-1"></div>

  <div>
    <% if @user==current_user %>
      <%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-default pull-right" %>
    <% end %>
  </div>
  <div class= "col-xs-7 panel panel-default">
    <div class="panel-body">

      <% @user.tweets.reverse.each do |tweet|%>
      <% if tweet.user.avatar.exists? %>
        <%= link_to image_tag(tweet.user.avatar.url, class:"img-rounded img-responsive avatar-thumbs"), profile_path(tweet.user.id)%>
      <% else %>
        <%= link_to image_tag("avatar_placeholder.jpg", class:"img-rounded img-responsive avatar-thumbs"), profile_path(tweet.user.id)%>
      <% end %>
      <strong><%= tweet.user.username %> </strong><small>tweeted <%= time_ago_in_words(tweet.created_at) %> ago</small>
      <br />
      <br />
      <%= tweet.message %>
      <br />
      <br />
      <% if current_user.likes?(tweet) %>
        <%= link_to tweet_like_path(tweet), method: :delete do %>
          <i class="glyphicon glyphicon-heart like-button"> </i>
        <% end %>

        <% else %>
          <%= link_to tweet_like_path(tweet), method: :post do %>
          <i class="glyphicon glyphicon-heart"> </i>
        <% end %>
      <% end %>
      <br />
      <hr>
      <% end %>
    </div>

  </div>
</div>
