<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
   <%= f.label "Photo for your profile?" %><br />
   <% if current_user.avatar.exists? %>
     <%= image_tag current_user.avatar.url(:thumb)%>
   <% else %>
     <%= image_tag "avatar_placeholder.jpg", {height:"90x90>"} %>
   <% end %>
   <%= f.file_field :avatar, placeholder: "avatar_placeholder.jpg"%>
 </div>

  <div class="form-group">
   <%= f.text_field :name, autofocus: true, placeholder: "First and Last Name"%>
 </div>

 <div class="form-group">
   <%= f.label "Your username should start with '@' and should not include spaces:" %><br />
   <%= f.text_field :username, autofocus: true, placeholder: "@Username" %>
 </div>

 <div class="form-group">
   <%= f.label "Where do you live?" %><br />
   <%= f.text_field :location, placeholder: "Raleigh, North Carolina" %>
 </div>

 <div class="form-group">
   <br />
   <%= f.text_field :bio, placeholder: "Your bio here!", rows:20 %>
 </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
