<p id="notice"><%= notice %></p>
<!-- # the above is just a necessary line in order to display any "completion" or "error" notice text as build in the controllers -->

<% @t.each do |tweet| %>
  <div class="list-group">
    <a href=<%= tweet_path(tweet) %> class="list-group-item">
      <h4 class="list-group-item-heading"><%= tweet.user.name %> <span class = "username-text"><%= tweet.user.username %></span></h4>
      <p class="list-group-item-text">
      <%= tweet.message %>
      <% if tweet.pic.exists? %>
         <br /><br /><%= image_tag tweet.pic.url %>
      <% end %>
      </p>
    </a>
  </div>
<% end %>
