<p id="notice"><%= notice %></p>

<div class="list-group col-md-8">
  <a href=<%= tweet_path(@tweet) %> class="list-group-item">
    <div class="row">
      <div class="col-md-2">
        <% if @tweet.user.avatar.exists? %>
          <%= image_tag @tweet.user.avatar.url, class:"img-rounded img-responsive avatar-thumbs"%>
        <% else %>
          <%= image_tag "avatar_placeholder.jpg", class:"img-rounded img-responsive avatar-thumbs"%>
        <% end %>
      </div>
      <div class="col-md-8">
        <h4 class="list-group-item-heading"><%= @tweet.user.name %> <span class = "username-text"><%= @tweet.user.username %></span></h4>
        <p class="list-group-item-text">
        <%= @tweet.message %>
        <% if @tweet.pic.exists? %>
           <br /><br /><%= image_tag @tweet.pic.url, class:"img-responsive img-rounded"%>
        <% end %>
        </p>
      </div>
    </div>
  </a>
  <% if current_user.id == @tweet.user.id %>
  <br />
    <%= link_to 'Delete Tweet', @tweet, method: :delete, class:"btn btn-danger pull-right", data: { confirm: 'Are you sure?' }%>
    <%= link_to 'Edit Tweet', edit_tweet_path(@tweet), class:"btn btn-warning pull-right" %>
    <!-- # We use a singular path because we are referring to a single tweet.  Always true except for the create action, which takes the plural form of tweets in the path. -->
  <% end %>
</div>
